Repository judoaseeta/webpack-config-tsbased: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd prettier, yarn --cwd lint

.lintstagedrc:

{
     "*.{js,jsx,ts,tsx}": [
            "yarn --cwd prettier",
            "yarn --cwd lint",
        ],
    "*.{json,css,scss,md}": [
            "yarn --cwd prettier",
    ]
}

fix .pre-commit
  .husky/pre-commit
Due: none

리액트 라우터 추가 && 린트 명령어 수정
  .lintstagedrc
  package.json
  src/components/routeWithParam.tsx
  src/components/ssw.tsx
  src/home.tsx
  src/index.tsx
  webpack/client.ts
  yarn.lock
Due: yarn --cwd prettier, yarn --cwd lint

프로덕션 서브
  package.json
  src/home.tsx
Due: yarn --cwd prettier, yarn --cwd lint

ssr 셋업
  .eslintrc.js
  .gitignore
  package.json
  src/client.tsx
  src/home.tsx
  src/ssr.tsx
  ssr/createHtml.tsx
  ssr/server.tsx
  tsconfigs/ssr/tsconfig.json
  webpack/.babelrc.js
  webpack/client.ts
  webpack/modules/javascript/index.ts
  webpack/modules/javascript/tsBabel.ts
  webpack/modules/utils/index.ts
  webpack/modules/utils/loadableComponents.ts
  webpack/ssr.ts
  webpack/ssrclient.node.ts
  webpack/ssrclient.web.ts
  yarn.lock
Due: yarn --cwd prettier, yarn --cwd lint

jest && react testing library added
  jest.config.js
  package.json
  src/components/__test__/ss.test.tsx
  src/components/ss.tsx
  testconfigs/fileMock.js
  testconfigs/styleMock.js
  yarn.lock
Due: yarn --cwd prettier, yarn --cwd lint

remove unnecessary vscode setting
  .vscode/settings.json
Due: yarn --cwd prettier
